html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
}

body {
    background-color: black;
    background-image: url("/assets/images/polkadots.png");
    /* background-image: url("C:/Users/critt/Homework/HW-PasswordGenerator/assets/images/polka-dots.png"); */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    text-align: center;
    margin: 50px;
    background-color: grey;
    background-image: url("/assets/images/prism.png");
    /* background-image: url("C:/Users/critt/Homework/HW-PasswordGenerator/assets/images/prism.png"); */
    border-style: solid 1px;
    border-color: white;
    padding: 10px 10px 40px 10px;

     
}

.btnColor {
   background-color: black ;
   color: white; 
   font-family: 'Khula', sans-serif;
   font-size: 20px;
}

.btn {
    margin: 5px 0 5px 0;
}

.btnColor:hover, .btnColor:active {
    color: gray;
}

h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color:black;
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 35px;
}

.display-4 {
    color: #383838;
    font-size: 40px;
    color: black;
    padding: 0;
}

.hr1 {
    border: solid 1px white;
}

textarea {
    display: inline-block;
    margin: auto;
    width: 400px;
    text-align: center;
    
}

header {
    background-color: #720740;
    border-bottom: solid 2px;
    border-color: white;
    height: 100px;
    font-family: 'Julius Sans One', sans-serif;;
}

footer {
    position: sticky;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: #720740;
    border-top: solid 1px white;
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: 'Julius Sans One', sans-serif;;
    }

   