html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    margin: 0;
    flex: 1 0 auto;
}

body {
    background-color: black;
    /* background-image: url("https://raw.githubusercontent.com/SMcGrail/HW-PasswordGenerator/master/assets/images/Glowing-Halftone-Dots.jpg"); */
    background-image: url("dots.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    text-align: center;
    margin: 50px;
    background-color: #4d4d4d;
    background-image: url("/assets/images/prism.png");
    /* background-image: url("C:/Users/critt/Homework/HW-PasswordGenerator/assets/images/prism.png"); */
    border-style: solid 1px;
    border-color: #ad8080;
    padding: 10px 10px 40px 10px;

     
}

.btnColor {
   background-color: black ;
   background: -webkit-linear-gradient(#ad8080, white);
   color: black; 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}

.btn {
    margin: 5px 0 20px 0;
}

.btnColor:hover, .btnColor:active {
    color: gray;
    background: -webkit-linear-gradient(white, #ad8080);
    color:black;
}

.headerText {
    position: relative;
    text-align: center;
    font-weight: bold;
    /* color:#ad8080; */
    background: -webkit-radial-gradient(#ad8080, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 35px;
    
}

.display-4 {
    color: #383838;
    font-size: 40px;
    color: #ad8080;
    padding: 0;
}

.hr1 {
    border: solid 1px #ad8080;
}

textarea {
    display: inline-block;
    margin: auto;
    width: 400px;
    text-align: center;
    
}

header {
    background-color: black;
    border-bottom: solid 2px;
    border-color: #ad8080;
    height: 100px;
    font-family: 'Special Elite', cursive;
    padding: 10px 0 0 0;


}

footer {
    position: sticky;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    background-color: black;
    border-top: solid 1px #ad8080;
    text-align: center;
    font-size: 25px;
    /* color: #ad8080; */

    }

.footerText {
    background: -webkit-radial-gradient(#ad8080, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Julius Sans One', sans-serif;
}
